<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% if output %}
  <script type="text/javascript">
    var output = JSON.parse('{{ output|safe }}');
    </script>
  {% endif %}
  <script type="text/javascript" src="static/js/script.js"></script>

</head>

<body>


  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Search Engine</h1>
    <div class="col-12 mx-auto">
         <form method="POST">
      <input type="text" class = "form-control" id="query" name="query"><br><br>

        <h4 class="mb-3">Search by</h4>
        <div class="form-check">
          <input id="name" name="search_by" value="name" type="radio" class="form-check-input" checked="" required="">
          <label class="form-check-label" for="name">Name</label>
        </div>
        <div class="form-check">
          <input id="methods" name="search_by" value="methods" type="radio" class="form-check-input" required="">
          <label class="form-check-label" for="methods">Methods</label>
        </div>
        <div class="form-check">
          <input id="name_and_methods" name="search_by" value="name_and_methods" type="radio" class="form-check-input" required="">
          <label class="form-check-label" for="name_and_methods">Name and Methods</label>
        </div>

      <input type="submit" class="w-100 btn btn-primary btn-lg" value="Search on github">


    </form>
    
    </div>
    {% if output %}
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Name</th>
            <th>Methods</th>
          </tr>
        </thead>
        <tbody id="results">
        <script>
        get_output();
        </script>
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
  

</body>
